---
layout: default
---
 <section>
    <small>{{ site.data.files.title }}</small>
    <dl>
      {% for entry in site.data.files.entries %}
        {% if entry.url %}
          {% assign link = entry.url %}
        {% endif %}
        {% if entry.file %}
          {% assign link =  entry.file | prepend:site.url %}
        {% endif %}
        {% if link != "" %}
          <dt><a href="{{ link }}" target="_blank">{{ entry.display_text }}</a></dt>
          {% assign link = "" %}
        {% else %}
          <dt>{{ entry.display_text }}</dt>
        {% endif %}
      {% endfor %}
    </dl>
  </section>
