---
layout: default
---

<div id="bio">
    {{ site.data.settings.bio | markdownify }}
</div>
{% for post in site.posts %}
<section>
    <small>{{ post.title }}</small>
    <dl>
        {% for entry in post.entries %}
        <dt>{{ entry.item | markdownify }}</dt>
        {% if entry.sub_entries %}
        {% for sub_entry in entry.sub_entries %}
        <dd>{{ sub_entry.sub_item | markdownify }}</dd>
        {% endfor %}
        {% endif%}
        {% endfor %}
    </dl>
</section>
{% endfor %}